.center {
    width: fit-content;
    margin: 8px auto;
    padding: 0 8px;
}

footer div div {
    display: inline-block;
}

#zjut-logo {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
}

.beian {
    width: fit-content;
    margin: 8px auto;
    padding: 0;
}

.universal-padding-8px {
    padding: 8px;
}

#news-banner-container {
    height: auto;
    /*margin: 2px 2px 6px 2px;*/
    position: relative;
}

#news-banner-container ul {
    list-style: none;
    position: absolute;
    z-index: 999;
    padding: 0;
    margin: 8px 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#news-banner-container ul li {
    display: inline-block;
    padding: 2px;
}

#news-banner-container ul li div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff;
}

#pic_news_card_container {
    position: relative;
}

#pic_news_card ul {
    list-style: none;
    position: absolute;
    z-index: 999;
    padding: 0;
    margin: 0 8px;
    right: 0;
    top: 50%;
    border: 1px #4c4c4c;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    transform: translate(0%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pic_news_card ul li {
    display: block;
    padding: 0;
    margin: 4px;
}

#pic_news_card ul li:first-child {
    width: 24px;
    height: 24px;
    margin: auto;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
}

#pic_news_card ul li:last-child {
    width: 24px;
    height: 24px;
    margin: auto;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
}

#pic_news_card ul li:not(:first-child):not(:last-child) {
    width: 24px;
    height: 24px;
    margin: auto;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
}

.font-24px-center {
    width: auto;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    font-family: '华文宋体', '宋体', serif;
}

.gray-background {
    background-color: #f1f1f1;
}

#headlines_news_card {
    background-color: transparent;
}

#headlines_index_dot_list {
    background-color: transparent;
    width: fit-content;
    margin: 0 auto;
    padding: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#headlines_index_dot_list li {
    list-style: none;
    height: 32px;
    width: 32px;
    padding: 4px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    background-color: transparent;
    color: #535353;
    display: inline-block;
    transition: all 750ms;
    margin: 4px;
}

#headlines_index_dot_list li:hover {
    list-style: none;
    height: 32px;
    width: 32px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    background-color: rgba(83, 83, 83, 0.55);
    color: #fefefe;
    transition: all 750ms;
    display: inline-block;
    margin: 4px;
}

.footer_button {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    color: #000000;
    background-color: #fff;
}

.normal_card {
    position: relative;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    color: #000000;
    background-color: #fff;
}

.border_square {
    border: 1px #009688 solid;
}

.border_square_535353 {
    border: 1px #535353 solid;
}

.border_square_2 {
    border: 2px #009688 solid;
}

.border_square_top {
    border-top: 1px #009688 solid;
}

.border_square_left {
    border-left: 1px #009688 solid;
}

.border_square_right {
    border-right: 1px #009688 solid;
}

.border_square_bottom {
    border-bottom: 1px #009688 solid;
}

.extra_no_padding {
    padding: 0; !important;
}

.extra_no_margin {
    margin: 0; !important;
}

.extra_padding_4 {
    padding: 4px; !important;
}

.extra_padding_8 {
    padding: 8px; !important;
}

.extra_margin_16 {
    margin: 16px; !important;
}

.extra_margin_8 {
    margin: 8px; !important;
}

.news_tab a {
    min-width: auto; !important;
}

.today_news_title {
    font-size: 18px; !important;
    line-height: 24px; !important;
    text-align: center; !important;
    padding: 16px;
}

.today_news_card:hover .today_news_title {
    font-size: 18px; !important;
    line-height: 24px; !important;
    text-align: center; !important;
    color: #fefefe;
    background-color: #f06292;
    padding: 16px; !important;
}

.divider_trans_16 {
    height: 16px;
}

.extra_margin_top_8 {
    margin-top: 8px;
}

.no_text_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hover_text_highlight:hover {
    color: #f06292;
}

.card_no_shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#news_nav_list {
    list-style: none;
    margin: 24px auto;
    padding: 0;
}

#news_nav_list li {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: auto;
}

#news_nav_list li:hover a {
    text-decoration: none;
    color: #fefefe;
}

#news_nav_list li a {
    text-decoration: none;
    color: #535353;
}


.hover_background_gray:hover {
    background-color: rgba(83, 83, 83, 0.45);
}

.menu_font {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    font-family: '华文宋体', '宋体', serif;
}

.menu_title_font {
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: '华文宋体', '宋体', serif;
}

.zjut_icon {
    width: 50%;
    height: auto;
    margin: 12px auto;
    display: block;
}

.extra_font_56px {
    line-height: 56px; !important;
    font-size: 40px; !important;
}

.border_no_left_535353 {
    padding: 8px 8px 8px 0;
    margin: 36px 8px 36px 0;
    border-top: 1px #535353 solid;
    border-bottom: 1px #535353 solid;
    border-right: 1px #535353 solid;
}