#draw-list {
    margin-bottom: 76px;
}

.center {
    width: fit-content;
    margin: 8px auto;
    padding: 0 8px;
}

footer div div {
    display: inline-block;
}

#zjut-logo {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
}

.beian {
    width: fit-content;
    margin: 8px auto;
    padding: 0;
}

.universal-padding-8px {
    padding: 8px;
}

#news-banner-container {
    height: auto;
    margin: 2px 2px 6px 2px;
}

#news-banner-container ul {
    list-style: none;
    position: absolute;
    z-index: 999;
    padding: 0;
    margin: 8px;
    bottom: 0;
    right: 0;
}

#news-banner-container ul li {
    display: inline-block;
    padding: 2px;
}

#news-banner-container ul li div {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #ffffff;
}

#news-banner-container ul li div:hover {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #ff4081;
}